
/*div.title{
    width:1000px;
    height:40px;
    font-size: 25px;
    background-color:lawngreen;
    text-align: left;
    font-family: "Impact";
    margin:auto;
}*/

div.haikei{
   
    
    background-color: inherit;
}
span.koumoku1{
    display: inline-block;
  
    height:100px;
    background-color:inherit;
  
    
    margin-right: 10px;
}
div.menyu00{
    width: 250px;
    height: 20px;
    background-color: crimson;
    font-size: 15px;
    margin-bottom: 10px;}
div.menyu0{
    width: 250px;
    height: 20px;
    background-color: orange;
    font-size: 15px;
    margin-bottom: 10px;}
div.menyu1{
    width: 250px;
    height: 20px;
    background-color: yellow;
    font-size: 15px;
    margin-bottom: 10px;}
div.menyu2{
    width: 250px;
    height: 20px;
    background-color: green;
    font-size: 15px;
     margin-bottom: 10px;
    }
div.menyu3{
    width: 250px;
    height: 20px;
    background-color: lightblue;
    font-size: 15px;
     margin-bottom: 10px;
    }
div.menyu4{
    width: 250px;
    height: 20px;
    background-color: dodgerblue;
    font-size: 15px;
    margin-bottom: 10px;
    }
div.menyu5{
   
   
     margin:right;
    text-align :right;
    }
div.menyu6{
    width: 1000px;
    height: 0px;
    background-color: inherit;
    font-size: 15px;
    }
div.menyu7{
    width: 250px;
    height: 20px;
    background-color: purple;
    font-size: 15px;
    }
div.menyu8{
 
    background-color: inherit;
    font-size: 50px;
    text-align:center;
    }
div.menyu9{
    text-align:center;
    width:2100px;
   
    }
  
span.koumoku2{
    display: inline-block;
    
    background-color:lime;
    font-family: "Impact";
   margin-left: 500px;
}
div.gazou{
    display: inline block;
    width:500px;
        height:1px;
    background-color: orchid;
    
}
div.bunsyou{
    width: 700px;
    height: 20px;
    background-color:teal;
    font-size: 15px;
    text-align:left;
}
div.footer{
    width:1000px;
    height:10px;
    background-color:aqua;
    font-size: 25px;
    text-align:right;
    margin:auto;
    margin-top: 110px;
    
}
body {
   background-image :url(../images/2.jpg);
    background-position:center;   
    background-position:top;
    background-attachment : fixed;
}