h1{
    color : #ffffff ;
    text-align : center ;
    background-color : #000000 ;
}

h2{
    color : #ffffff ;
    text-align : center ;
    background-color : #000000 ; 
}

h3{
     color:aqua
}    




P{
    color : #0000ff ;
  
}